/**********
***ABOUT***
**********/



@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');



body {
  background-image: url('../img/bg2.jpg');
}

header {
  width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  display: block;
  width: 100px;
  padding: 20px;
}

header h1 {
  /*float: left;*/
  /*display: inline-block;*/
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-shadow: 3px 3px #f00;
}

main {
  text-align: center;
  margin: 0px auto;
  width: 900px;
  /*font-family: 'Bungee Shade', cursive;*/
  margin-top: 30px;
}

#team {
  max-width: 960px;
  margin: 30px auto;
}

#team li {
  display: inline-block;
  font-family: monospace;
  /*float: left;*/
  width: 40%;
  margin: 4.0%;
}

#team li:last-child {
  margin-right: 0;
}

#team img {
  width: 100%;
  border-radius: 100%;

}

#team p {
  line-height: 1.5em;
  text-indent: 20px;
}

.teamMember {
  text-align: center;
  text-indent: 0px;
  margin: 10px;
  font-size: 1.5em;
}

@media screen and (max-width: 550px) {
  #team li {
    width: 90%;
    margin: 4.8%;
  }
}
