@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/*********
***BAll***
**********/

* {
  /*outline: 2px dashed red;*/
}

body {
  background-image: url('../img/bg2.jpg');
  color: #fff;
}

header {
  width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  display: block;
  width: 100px;
  padding: 20px;
}

header h1 {
  /*float: left;*/
  /*display: inline-block;*/
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-shadow: 3px 3px #f00;
}

main {
  text-align: center;
  margin: 0px auto;
  width: 900px;
  /*font-family: 'Bungee Shade', cursive;*/
  margin-top: 30px;
}

/*main img {
  width: 500px;
  margin-bottom: 30px;
}*/

#finalGreeting {
  /*font-family: 'Monoton', cursive;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: monospace;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 1.5em;
  color: #fff;
  text-shadow: 3px 3px #f00;
}

#ballOuter {
  margin: 0 auto;
  position: relative;
  width: 500px;
  height: 500px;
  border-radius: 100%;
  background: #000;
  z-index: 1;
  margin-top: 30px;
}

#ballOuter:hover {
  animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-20px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(10px, 0px, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-30px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

#ballInner {
  position: absolute;
  top: 25%;
  right: 25%;
  width: 250px;
  height: 250px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  border: 5px solid #333;
  box-sizing: border-box;
  align-items: center;
  background: url('../img/magicBallInside.jpg') #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 230px;
}

#ballContent {
  text-align: center;
  font-family: sans-serif;
  font-size: 1.4em;
  padding: 0 20px;
  line-height: 1.4em;
  /*outline: 1px dashed red;*/
  color: #eef;
  z-index: 2;
}

#ballCover {
  width: 100%;
  height: 100%;
  background: red;
  z-index: 50;
  border-radius: 100%
}

#ballFilter {
box-sizing: border-box;
/*border: 1px solid red;*/
width: 500px;
height: 500px;
background-image: url('../img/ballFilter.png');
}
