* {
  /*font-family: 'Orbitron', sans-serif;*/
  outline: 1px dashed red;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Press+Start+2P');

#red {
  background: linear-gradient(to bottom right, #ff0000 0%, #800000 100%);
}

#orange {
  background: linear-gradient(to bottom right, #ffa500 0%, #993300 100%);
}

#yellow {
  background: linear-gradient(to bottom right, #ffff00 0%, #ff9900 100%);
}

#lime {
  background: linear-gradient(to bottom right, #00ff00 0%, #336600 100%);
}

#green {
  background: linear-gradient(to bottom right, #009900 0%, #003300 100%);
}

#aquamarine {
  background: linear-gradient(to bottom right, #7fffd4 0%, #006666 100%);
}

#blue {
  background: linear-gradient(to bottom right, #0000ff 0%, #000066 100%);
}

#purple {
  background: linear-gradient(to bottom right, #800080 0%, #330033 100%);
}

#pink {
  background: linear-gradient(to bottom right, #ffc0cb 0%, #ff0066 100%);
}

#gray {
  background: linear-gradient(to bottom right, #808080 0%, #262626 100%);
}

#black {
  background: linear-gradient(to bottom right, #000000 0%, #262626 100%);
}

#white {
  background: linear-gradient(to bottom right, #fff 0%, #888 100%);
}

.ball {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  float: right;
}

.logo {
  position: absolute;
  color: black;
  background: white;
  top: 30%;
  left: 30%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
}

#colorContainer {
  float: left;
  width: 200px;
  margin-left: 50px;
}

ul li {
  display: inline-block;
  padding: 30px;
  width: auto;
  text-align: center;
  cursor: pointer;
  border: 3px solid white;
  margin: 3px;
}

.clearfix {
  clear: both;
}

.button {
  margin-top: 50px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  /*font-family: 'Bungee Shade', cursive;*/
  background-color: #B73509;
  border: none;
  color: white;
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms all;
}

.button:hover {
  background: #C7A943;
}


body {
  /*background-color: #FFFBCC;*/
  background-image: url('../img/bg2.jpg');
  /*background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;*/
}

header {
  width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  display: block;
  width: 100px;
  padding: 20px;
}

header h1 {
  /*float: left;*/
  /*display: inline-block;*/
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-shadow: 3px 3px #f00;
}

main {
  text-align: center;
  margin: 0px auto;
  width: 900px;
  font-family: 'Bungee Shade', cursive;
  margin-top: 30px;
}
