header h1 {
  text-align: center;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 50px;
}

main {
  text-align: center;
  margin: 0px auto;
  width: 900px;
  font-family: 'Press Start 2P', cursive;
  margin-top: 30px;
}

main img {
  width: 500px;
  height: 400px;
  margin-bottom: 30px;
}

form {
  padding: 50px;
}

.username {
  text-align: center;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  margin-right: 100px;
}

.start {
  font-size: 50px;
  margin-top: 50px;
  font-family: 'Press Start 2P', cursive;
}
