@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

/*header {
  border: 5px dotted orange;
}
main img {
  border: 5px dotted orange;
}
main h1 {
  border: 5px dotted orange;
}
main h2 {
  border: 5px dotted orange;
}
.username {
  border: 5px dotted orange;
}*/

* {
  /*box-sizing: border-box;
  outline: 1px dashed red;*/
}

body {
  /*background-color: #FFFBCC;*/
  background-image: url('../img/bg2.jpg');
  /*background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;*/
}

header {
  width: 960px;
  margin: 0 auto;
}

header img {
  float: left;
  display: block;
  width: 100px;
  padding: 20px;
}

header h1 {
  /*float: left;*/
  /*display: inline-block;*/
  padding-top: 60px;
  text-align: center;
  font-size: 30px;
  font-family: 'Press Start 2P', cursive;
  color: #fff;
  text-shadow: 3px 3px #f00;
}

main {
  text-align: center;
  margin: 0px auto;
  width: 900px;
  /*font-family: 'Bungee Shade', cursive;*/
  margin-top: 30px;
}

/*main img {
  width: 500px;
  margin-bottom: 30px;
}*/

main h2 {
  /*font-family: 'Monoton', cursive;*/
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: monospace;
  font-size: 30px;
  letter-spacing: 5px;
  line-height: 1.5em;
  color: #fff;
  text-shadow: 3px 3px #f00;
}

form {
  padding: 50px;
}

#userName {
  margin: 0px auto;
  width: 750px;
  font-size: 50px;
  font-family: 'Press Start 2P', cursive;
  color: #8f8;
  text-shadow: 2px 2px #ff0000;
  /*background: rgba(255,255,255,.5);*/
  /*background: transparent;*/
  background: rgba(255,255,255,.3);
  padding: 5px;
  border: none;
  /*border-bottom: 5px dashed red;*/
  text-align: center;
}

#userName:focus {
  /*border: none;*/
  outline: none;
  background: transparent;
  /*border-bottom: 5px dashed red;
  padding:5px;*/
}

#userName::placeholder {
  color: #8f8;
  text-shadow: 2px 2px rgba(255, 0, 0, .5);
  text-align: center;
  /*border-bottom: 5px dashed red;
  padding:5px;*/

}

.button {
  margin-top: 50px;
  font-family: 'Press Start 2P', cursive;
  text-transform: uppercase;
  /*font-family: 'Bungee Shade', cursive;*/
  background-color: #B73509;
  border: none;
  color: white;
  padding: 30px 60px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  transition: 350ms all;
}

.button:hover {
  background: #C7A943;
}
